<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.3912.1204" targetFramework="net452" />
  <package id="SPMeta2.Core" version="1.2.40" targetFramework="net452" />
  <package id="SPMeta2.CSOM.Foundation" version="1.2.40" targetFramework="net452" />
</packages>